{
  "openapi": "3.0.3",
  "info": {
    "title": "Najih API — Moroccan Bac preparation",
    "description": "APIs powering najih.abouaaliahmed.com: the AI tutor chat and the site-wide search across branches, lessons and national exams.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://najih.abouaaliahmed.com" }],
  "paths": {
    "/api/chat": {
      "post": {
        "summary": "Ask the Najih AI tutor",
        "description": "Sends a conversation (messages with role/content) plus an optional page context string to the AI tutor. Returns an OpenAI-style chat completion with the answer in Arabic/Darija or French.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["messages"],
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["role", "content"],
                      "properties": {
                        "role": { "type": "string", "enum": ["user", "assistant", "system"] },
                        "content": { "type": "string" }
                      }
                    }
                  },
                  "context": { "type": "string", "description": "Optional page context the student is currently viewing." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "object",
                            "properties": { "content": { "type": "string" } }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid JSON or missing messages" },
          "500": { "description": "AI provider key not configured" },
          "502": { "description": "AI provider unreachable or error" }
        }
      }
    },
    "/api/search": {
      "get": {
        "summary": "Search Najih content",
        "description": "Full-text search across branches, subjects, lessons and resources. Returns items with url, label and sub-title.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "minLength": 2 }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "label": { "type": "string" },
                          "sub": { "type": "string" },
                          "icon": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "LLM-readable catalog",
        "description": "Returns the llms.txt Markdown file describing the site for LLM crawlers.",
        "responses": {
          "200": {
            "description": "Markdown catalog",
            "content": { "text/markdown": { "schema": { "type": "string" } } }
          }
        }
      }
    }
  }
}